<div class="col-md-8 offset-md-2">
      <h3><span class="badge badge-pill badge-dark">会員一覧</span></h3>
      <table class="table table-hover table-inverse">
       <thead>
        <tr class="bg-light">
     
          <th>氏名</th>
         
          <th></th>
        </tr>
      </thead>
       <% @customers.each do |customer| %>
      <tbody>
       <tr>
       
        <td><%= customer.name %></td>
       
        <td><%= link_to "レシピ", recipelist_customer_path(customer.id) %><td>
        <td><%= link_to"フォロー数: #{customer.followings.count}", customer_followings_path(customer.id) %></td>
        <td><%= link_to"フォロワー数: #{customer.followers.count}",  customer_followers_path(customer.id) %></td>

      </tbody>
      <% end %>
      </table>
      
    </div>