// Place all the styles related to the public/recipes controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.genre{
    background-color: #FFC7AF;
}

.new-recipe{
    font-size: 1.2em;/* 文字の大きさ */
    font-weight: bold;/* 文字の太さ */
    color: #fff;/* 文字の色 */
    border: 2px dashed #ffecef;/* ステッチの太さ・種類・カラー */
    background: #FFC7AF;/* 背景色 */
    border-radius: 8px;/* 四隅の丸み */
    box-shadow: 0 0 3px 3px #F9B8CD;
    margin: 10 0 1.5em;
    padding: 0.5em 0.8em;
}
.text_a{
    white-space: pre-wrap;
    border: 1px solid;
    width: 220px;
    height: 400px;
}

.like p{
    border-radius: 30px;
    text-align: center;
    background-color: #FF97C2;
    font-size: 30px;
}

.recipeback{
    background-color: #FFF;
}