<div class="row">
  <div class="col-md-6 offset-md-3">
<h2>About</h2>
<p class="ml-3" style="line-height:2rem" >
    ズボラだけど…料理初心者だけど…子供に料理を教えたいけど…<br>
    レシピサイトに載ってるレシピは難しい！めんどくさい！<br>
    そんなあなたのために作りました<br>
    ここには簡単に作れる料理しか載っていません<br>
    よいズボラ飯ライフを！！<br>
</p>
</div>
</div>