/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
 @import "bootstrap";
 @import 'font-awesome-sprockets';
 @import 'font-awesome';



*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-family: Hannotate SC;
}

a:link, a:visited, a:hover, a:active{
  color: #220000;
  font-family: Hannotate SC;
  text-decoration: none;
}

h2 {
  position: relative;/*相対位置*/
  padding-left: 1.5em;/*アイコン分のスペース*/
  line-height: 1.4;/*行高*/
  color: #330000;/*文字色*/
  border-bottom: 1px solid #f0bdc4;
}

h2:before {
  font-family: "Font Awesome 5 Free";
  content: "\f1b0";/*アイコンのユニコード*/
  font-weight: 900;
  position: absolute;/*絶対位置*/
  font-size: 1em;/*サイズ*/
  left: 0;/*アイコンの位置*/
  top: 0;/*アイコンの位置*/
  color: #ff938b; /*アイコン色*/
}


.page-header {

  li{
    list-style: none;
    margin-left: 30px;
    }

  .box-anchor {
  　text-decoration: none;
  }

  .box {
    color: #663300;
    width: 70px;
    text-align: center;
    border-radius: 10px;
    font-weight: bold;
    font-size: 14px;
  }

  .box:hover {
    background-color: #D2B48C;
  }


  li a{
    color: #432;
    text-decoration: none;
  }

  .img{
  width: 300px;
  border-radius: 10px;
  }

  .main-nav{
    display: flex;
    padding-top: 25px;

  }
  .button {
  display       : inline-block;
  border-radius : 5%;          /* 角丸       */
  font-size     : 8pt;        /* 文字サイズ */
  text-align    : center;      /* 文字位置   */
  cursor        : pointer;     /* カーソル   */
  padding       : 12px 12px;   /* 余白       */
  background    : rgba(127, 70, 0, 0.23);     /* 背景色     */
  color         : #412100;     /* 文字色     */
  line-height   : 1em;         /* 1行の高さ  */
  opacity       : 1;           /* 透明度     */
  transition    : .3s;         /* なめらか変化 */
  box-shadow    : 3px 3px 2px #666666;  /* 影の設定 */
  }
  .button:hover {
    box-shadow    : none;        /* カーソル時の影消去 */
    opacity       : 0.8;         /* カーソル時透明度 */
  }
}



.wrapper{
    display: flex;
  justify-content: space-between;
  // 両橋に設置
    max-width: 1700px;
    margin: 0 auto;
    padding: 5px 4%;
  }

.search{

  padding-top: 20px;
}

input[type="text"] {
  width: 250px;
  height: 30px;

}

.header-b{
  background-color: #663300;
  color: #FFF;
}

.header-b p{
  margin: 0;
  padding: 8px;
}

main{
  background-color: #FAF0E6;
  height: 100%;
  margin: 0 auto;
}

.container{
  max-width: 1300px;
  margin: 0 auto;
  padding: 70px 4%;
}

.footer-b{
  background-color: #663300;
  color: #FFF;
}

.footer-b p{
  margin: 0;
  padding: 8px;
}